/*
  go to fonts.google.com; search for the fonts you want; select them;
  scroll down to the font style you want; click the + to the right;
  click the radio button for 'import'; copy the style code and paste here
*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300&family=Quicksand:wght@300&family=Roboto:wght@100;300&display=swap');

h1, p {
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Dancing Script', cursive;*/
    color: white;
}

h1 {
    margin: 0;
}

p {
    padding: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(115deg, rgb(58, 58, 158), rgb(136, 136, 206));
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(./images/code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
    text-align: center;
  }

@media (min-width: 576px) {
    .container {
        max-width: 720px;
    }
}